.aboutme_main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: 10vh;
}

.aboutme_main-p {
  flex-basis: 500px;
  padding: 30px;
  letter-spacing: 0.01rem;
  line-height: 1.75rem;
}
.aboutme_main-h3 {
  margin-bottom: 1rem;
}
.aboutme_contacts {
  display: flex;
  flex-basis: 150px;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}
