.header_welcome {
  display: flex;
  flex-direction: column;
  height: 30vmin;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.01rem;
  line-height: 1.75rem;
  background-color: #f5f8fa;
  font-size: 1.2rem;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: silver;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
}

.header_welcome-name {
  padding: 10px;
  letter-spacing: 0.01rem;
  line-height: 1.75rem;
  font-size: 3rem;
}

.gray,
.mid-gray {
  color: #aaa;
}
