* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  color: #404040;
  font-size: 100%;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h6,
.h6 {
  font-size: 0.75rem;
}
p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.App-header {
  justify-content: space-between;
  margin: 20px 10px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.page_container {
  min-height: 75vh;
  /* padding-top: 50px; */
  grid-area: pc;
}

.header {
  grid-area: h;
}
.footer {
  grid-area: f;
}
/* .header_welcome {
  grid-area: hw
} */

.main_container {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "h h h h"
    "pc pc pc pc"
    "f f f f";
}
@media (min-width: 769px) {
  /*... правила для планшетов ...
    выводим карточки товаров по 2 в ряд
  */
  .menu-button {
    display: none;
  }
}

@media (max-width: 768px) {
  /*
    ... правила для планшетов ...
    выводим карточки товаров по 2 в ряд
  */
  .header_name {
    min-width: 90px;
  }
  .header_main-nav {
    display: none;
  }
}

@media (max-width: 376px) {
  /*
    ... правила для смартфонов ...
    выводим карточки товаров по 1 в ряд
  */
  .header_name {
    width: 240px;
    min-width: 90px;
  }
}
