

.content {
  position: relative;
  margin: 5px 5px 55px 55px;
  left: 0;
}
.gallery a {
  overflow: hidden;
  width: 388px;
  padding: 5px 5px 5px 0;
  min-height: 110px;
  display: block;
}
.gallery img {
  display: block;
  max-width: 100%;
}
.left_side.active + .content {
  left: 250px;
  -webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
  transition-delay: .2s
}
.filter_items {
  position: fixed;
  bottom: 0;
  color: #1e1e1e;
  padding: 10px 15px 0;
  right: 0;
  text-align: right;
  width: 100%;
  background-color: #181818;
}

.filter_label{
  background-color: transparent;
  border-color: #fff;
  padding: 5px 15px;
  opacity: .4;
  margin: 0 3px 15px;
  font-size: 15px;
  letter-spacing: 3px;
  border: 1px #fff solid;
  -webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.filter_label:hover,
.filter_label.active  {
  background-color: tomato;
  opacity: 1;
  border-color: tomato;
}
/*ZOOM*/
/*.mfp-content {
  width: 100%;
}
.mfp-container {
  padding: 0;
}
img.mfp-img {
  display: block;
  height: auto;
  max-height: none;
  padding: 0;
  width: 100%;
}
.mfp-figure button.mfp-close {
  background-color: tomato;
  height: 100px;
  width: 100px;
  position: fixed;
  text-align: center;
  right: 8px;
  padding: 0;
}
/*Magnific.css Zoom images*/
/* magnific library opened */
/*.mfp-zoom-out-cur .library */
/* overlay at start */
/*.mfp-fade.mfp-bg {*/
/* overlay animate in */
/*.mfp-fade.mfp-bg.mfp-ready {*/
/* overlay animate out */
/*.mfp-fade.mfp-bg.mfp-removing {*/
/* content at start */
/*.mfp-fade.mfp-wrap .mfp-content {*/
/* content animate it */
/*.mfp-fade.mfp-wrap.mfp-ready .mfp-content {*/
/* content animate out */
/*.mfp-fade.mfp-wrap.mfp-removing .mfp-content {*/
