

.inside{
  background-color: #edf9ef;
}
.inside .content {
  padding: 80px 10% 50px;
}
.content-header {
  text-align: center;
  margin-top: -20px;
}
.call-back {
  padding-right: 155px
}
.content-header img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 35px;
}
.content-header p {
  letter-spacing: 3px;
}
.content_body {
  margin-top: 35px;
  font-style: 15px;
  font-size: 18px;
}

.ul_contacts,
.ul_contacts li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;

}
.form_contacts {
  margin-top: 40px;
}
.ul_contacts {
  /*margin-top: 0px;*/
}
.ul_contacts i {
  font-size: 28px;
  margin-right: 5px;
  vertical-align: middle;
}
.ul_contacts h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
}
.ul_contacts p {
  padding-left: 80px;
}
.ul_contacts a {
  color: tomato;
  text-decoration: underline;
}
