* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  color: #404040;
  font-size: 100%;
}

a {
  text-decoration: none;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h6,
.h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page_container {
  flex-grow: 1;
  min-height: 90vh;
}

/* STYLES */

/* ABOUTME */

/* MEDIA QUERY */

@media (min-width: 768px) and (max-width: 979px) {
  .header_main-nav {
    display: none;
  }
  .header_menu-button {
    display: inline-block;
  }
  .nav-wrapper {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header_main-nav {
    display: none;
  }
  .header_menu-button {
    display: inline-block;
  }
  .nav-wrapper {
    display: none;
  }
  .header_name-main {
    min-width: 200px;
  }
}

@media (max-width: 480px) {
  .header_main-nav {
    display: none;
  }
  .header_menu-button {
    display: inline-block;
  }
  .aboutme_main {
    flex-direction: column;
  }
  .nav-wrapper {
    display: none;
  }
  .header_name-main {
    min-width: 200px;
  }
  .header_welcome-name {
    font-size: 2rem;
  }
  .header_welcome {
    font-size: 1rem;
  }
}
